{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script>function submit_form() {
    let body = $(".alert-body");
    let button = $("#submit_button");
    body.empty();
    body.attr("style", "display: none");
    let username = document.getElementsByName("username")[0].value;
    let password = document.getElementsByName("password")[0].value;
    button.attr("disabled", true);
    $.ajax({
        url: "/access/login",
        method: "POST",
        data: {"username": username, "password": password},
        dataType: "json",
        success: function (data) {
            console.log(data);
            if (data["status"] === 200) {
                window.location.href = data["redirect_to"]
            } else {
                body.attr("style", "display: block");
                body.append(data["message"])
            }
            button.removeAttr("disabled");
        },
        error: function () {
            body.attr("style", "display: block");
            body.append("未知错误");
            button.removeAttr("disabled");
        }
    });
    return false;
}</script>
    <style>
    .app{
        max-width: 20em;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="app app-wrapper">
        <div class="app-title">
            <h3>登录</h3>
        </div>
        <div class="line"></div>
        <div class="alert-body alert alert-danger"></div>
        <form method="post" action="/access/login" enctype="application/x-www-form-urlencoded" onsubmit="return submit_form()">
            <div class="input-group wrapper">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
                </div>
                <input class="form-control" name="username" placeholder="输入用户名" type="text" required autofocus>
            </div>
            <div class="input-group wrapper">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
                </div>
                <input class="form-control" name="password" placeholder="输入密码" type="password" required>
            </div>
            <div class="input-group wrapper">
                <button class="form-control" type="submit" id="submit_button">登录</button>
            </div>
        </form>
    </div>
{% endblock %}